@use 'page-with-form';

.sub-title {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 1rem;
}

.date-input {
  margin: 8px 0 4px;
}

.base-config {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.rewards {
  padding: 10px 0;
  display: flex;
  column-gap: 30px;
  flex-wrap: nowrap;

  .config {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 250px;
  }

  .rewards-generated {
    display: flex;
    row-gap: 15px;
    column-gap: 40px;
    width: 80vw;
    overflow-x: auto;

    div {
      min-width: 250px;
    }
  }
}
.created-config {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  div {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    span {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .delete-button {
    position: absolute;
    top: 0;
    right: -10px;
    cursor: pointer;
  }
}
