.header {
  padding: 12px 20px;
  background-color: #045086;
  display: flex;
  justify-content: space-between;
}

.text-header {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.icon-header {
  fill: #fff;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.container-icon {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
