.form {
  padding: 1rem;
}

.grid-viajeros {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
}

.viajero {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 10%;
}

.hide-form {
  display: none;
}