@use 'page-with-form';

.sub-title {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 1rem;
}

.section-content {
  margin-bottom: 10px;
}

.section-valid {
  display: flex;
  justify-content: center;
  margin: 10px auto 30px;

  .check-icon {
    margin-right: 5px;
  }

  span {
    font-weight: 700;
  }
}

.actions-container {
  display: flex;
  gap: 0.5rem;
}

.secondary-btn {
  color: #0f0540;
  background: #cdcdfd;
  &:hover {
    background: #8d8de7;
  }
}
