.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #025086;
  align-items: center;
  height: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title-header {
  text-align: center;
  color: #fff;
}

.header svg {
  width: 25px;
  fill: #fff;
}
.icon-header-hidden {
  visibility: hidden;
}

.cbp-one-image {
  height: 150px;
  object-fit: scale-down;
}

.line-image {
  background-color: #d81c2c;
  width: 100%;
  height: 2px;
}

.content-information {
  padding-top: 4px;
  padding-left: 30px;
  padding-right: 30px;
}

.title-content-information {
  color: #034879;
  font-size: 18px;
}

.subtitle-content-information {
  color: rgba(0, 0, 0, 0.712);
  font-size: 12px;
}

.content-options {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 15px;
  padding-left: 40px;
  row-gap: 10px;
}

.content-option {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr;
  column-gap: 15px;
}

.content-option span {
  color: #034879;
  font-size: 14px;
}

.content-option img {
  object-fit: cover;
  max-height: 40px;
}